* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #162938;
    border: 50px solid #162938d8;
}

.logo {
    font-size: 0;
    user-select: none;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/icon.png') no-repeat;
    background-size: contain;
    background-position: center;
}


#toggle-btn,
.menu a {
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.menu a {
    background-color: #ffffff;
    height: 70px;
    width: 70px;
    font-size: 22px;
    color: #4249ed;
    text-decoration: none;
    top: 30px;
    right: 30px;
    transition: 0.5s;
}

.menu a:hover {
    transition: 0.3s;
    background: #8c8d91;
}

#toggle-btn {
    background-color: #0f1730;
    color: #ffffff;
    height: 100px;
    width: 100px;
    border: none;
    font-size: 40px;
    top: 15px;
    right: 15px;
    transition: 0.3s;
}

#toggle-btn:hover {
    background: #132047;
}

.active {
    transform: rotate(-35deg);
}

.spacer {
    height: 225px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.about,
.projects {
    flex: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects ul li {
    margin: 10px 0;
    /* Adjust as needed */
}

.projects ul li a {
    text-decoration: none;
    color: white;
}

.projects ul li a:hover {
    transition: 0.3s;
    color: #8c8d91;
}

h1,
h2 {
    margin: 10px 0;
    color: white;
}